/* .notes {
  font-style: italic;
}

.b2b {
  font-style: italic;
  color: hsl(180, 20%, 60%);
  display: block; */
/* } */

/* .timeline {
  display: flex;
  flex-direction: row;
}

.times {
  display: grid;
  grid-auto-rows: 0.5rem;
}

.times div {
  grid-row-end: span 2;
  padding: 0 0.5em;

  font-size: 0.6rem;
  font-weight: 600;
  vertical-align: middle;
  line-height: 1rem;
  color: hsl(0, 0%, 60%);
} */
/* 
.cal .hour {
  z-index: 10;
  display: flex;
  grid-column: 1;
  grid-row: auto / span 4;
  border-top: solid 1px hsl(0, 0%, 40%);
}

.cal .hour:first-child {
  border-top: none;
}

.stage {
  width: 80%;
  display: grid;
  grid-auto-rows: 0.5rem;

  background-color: hsl(0, 0%, 16%);
}



.set {
  margin: 0 0.5rem;
  padding: 0.25rem;
  font-size: 0.8rem;
  z-index: 50;
  grid-column: 1;
  background-color: hsl(180, 20%, 30%);
  transition: background-color 0.2s ease-in-out;

  vertical-align: middle;
  text-align: center;

  display: flex;
  place-content: center;
  place-items: center;
  line-height: 110%;
}

.set:hover {
  cursor: pointer;
  background-color: hsl(180, 20%, 40%);
}

.set.adjacent {
  border-top: solid 1px hsl(180, 20%, 60%);
}

.stage h3 {
  grid-row: 1 / span 4;
  grid-column: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;

  margin: 0 0.5rem;
}

.set.favorite {
  background-color: hsl(180, 45%, 40%);
  font-weight: 700;
} */
