.timeline {
  display: flex;
  flex-direction: row;

  .times {
    display: grid;
    grid-auto-rows: 0.5rem;

    div {
      grid-row-end: span 2;
      padding: 0 0.5em;

      font-size: 0.6rem;
      font-weight: 600;
      vertical-align: middle;
      line-height: 1rem;
      color: hsl(0, 0%, 60%);
    }
  }

  .stgs {
    flex-grow: 1;
    display: flex;
    position: relative;
    background-color: hsl(220, 50%, 50%);
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .gridlines {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 10;
    display: grid;
    grid-auto-rows: 0.5rem;

    div {
      display: flex;
      grid-column: 1;
      grid-row: auto / span 4;
      border-top: solid 1px hsl(0, 0%, 40%);
      &:first-child {
        border-top: none;
      }
    }
  }

  .stgwrp {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;

    z-index: 20;
    display: flex;
    justify-content: center;
    background-color: rgba(20, 20, 20, 0.2);
  }

  .stg {
    width: calc(100cqw - 5rem);
    margin: 0 0.5rem;
    background-color: hsla(0, 90%, 50%, 0.5);

    scroll-behavior: smooth;
    scroll-snap-align: center;
  }
  /* } */
}
