@font-face {
  font-family: "Brown";
  src: url("./assets/brown-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Brown-Light";
  src: url("./assets/brown-light.woff2") format("woff2");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-family: var(--font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --row-height: 0.5rem;
  --text-color-alt: hsl(0, 0%, 60%);
  --bg-color-alt: hsl(0, 0%, 16%);

  --font-family: "Brown-Light", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --font-family-bold: "Brown", Inter system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  --brand-bg-color: hsl(180, 20%, 30%);
  --brand-bg-color-alt: hsl(180, 20%, 40%);
  --brand-color-lighter: hsl(180, 20%, 60%);
  --brand-color: hsl(180, 45%, 40%);
}

#root {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

a {
  font-weight: 500;
  color: var(--brand-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--brand-color-lighter);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1;
  margin-block: 0.5rem;
}

h2 {
  font-size: 1.8em;
  line-height: 1.1;
  margin-block: 1rem 0.5rem;
}

h3 {
  font-size: 1em;
  line-height: 0.8;
  align-self: center;
  font-weight: 600;
}

.text-alt {
  color: var(--text-color-alt);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

footer {
  margin-block: 2rem;
  color: var(--text-color-alt);
  font-size: 0.7rem;

  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
