@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --color-mint-20: #e7fef1;
  --color-mint-40: #baf7d9;
  --color-mint-60: #93ecc7;
  --color-mint-80: #6ce0b3;
  --color-mint-100: #2dd29b;

  --color-teal-20: #4db2b2;
  --color-teal-30: #3fa3a6;
  --color-teal-40: #389194;
  --color-teal-50: #317f81;
  --color-teal-60: #266c73;
  --color-teal-70: #205a60;
  --color-teal-80: #144a52;
  --color-teal-100: #05272e;
  --color-teal-100-15: rgb(5, 39, 46, 0.15);
  --color-teal-100-20: rgb(5, 39, 46, 0.2);
  --color-teal-100-90: rgb(5, 39, 46, 0.9);

  --color-border-teal-60: #366363;

  --color-bg-primary: #0f2024;
  --color-bg-secondary: var(--color-teal-100);

  --color-bg-alt: var(--color-teal-20);
  --color-bg-alt-secondary: var(--color-teal-40);

  --color-text-primary: var(--color-mint-20);
  --color-text-alt: var(--color-mint-60);
  --color-text-muted: var(--color-teal-20);

  --color-headings-primary: var(--color-mint-60);
  --color-headings-secondary: var(--color-teal-20);

  --card-bg: linear-gradient(var(--color-teal-60), var(--color-teal-70));
  --card-bg-alt: linear-gradient(var(--color-teal-50), var(--color-teal-60));
  --card-bg-emphasis: linear-gradient(var(--color-teal-50), var(--color-teal-40));
  --card-bg-emphasis-alt: linear-gradient(var(--color-teal-60), var(--color-teal-50));

  --row-height: 0.15rem;

  --font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size: 1rem;

  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  font-family: var(--font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-color-alt: hsl(0, 0%, 60%);
  --bg-color-alt: hsl(0, 0%, 16%);

  --brand-bg-color: hsl(180, 20%, 30%);
  --brand-bg-color-alt: hsl(180, 20%, 40%);
  --brand-color-lighter: hsl(180, 20%, 60%);
  --brand-color: hsl(180, 45%, 40%);
}

#root {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

a {
  font-weight: 500;
  color: var(--color-mint-100);
  text-decoration: inherit;
}

a:hover,
a:active,
a:focus {
  color: var(--color-mint-60);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  color: var(--color-teal-20);
}

h1 {
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--color-mint-60);

  line-height: 1.1;
  margin-block: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
  margin-block: 1rem 0.5rem;
}

h3 {
  font-size: 1rem;
  line-height: 0.8;
  font-weight: 600;
}

/* // TODO: Move to a separate file for this component */
.stage h3 {
  align-self: center;
  color: var(--color-text-primary);
}

.text-alt {
  color: var(--color-text-alt);
}

/* // TODO: Style buttons */
button,
a.button {
  border-radius: 2rem;
  border: 1px solid transparent;
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  font-weight: 300;
  font-family: inherit;
  background-color: var(--color-teal-60);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color-text-primary);
  &:hover {
    border-color: var(--color-teal-20);
  }
  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

footer {
  margin-block: 3rem 1.5rem;
  color: var(--color-text-muted);
  font-size: 0.7rem;

  text-align: center;

  .version {
    color: var(--color-teal-80);
    display: block;
    &::before {
      content: "v";
    }
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
