main.list {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.profile {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .user {
    text-align: center;
    margin-bottom: 4rem;

    /* TODO: COLORS */
    img {
      height: 250px;
      width: 250px;
      border-radius: 250px;
      border: solid 2px var(--text-color-alt);
    }

    h2 {
      font-size: 3rem;
    }

    a {
      font-size: 1.5rem;
    }
  }
}

section {
  margin-inline: 0.5rem;
}

header {
  padding: 0 0.5rem 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: var(--color-teal-80);
  @media (min-width: 700px) {
    background-color: initial;
    margin-block: 1rem;
  }

  h1 {
    flex-grow: 1;
  }

  .logo {
    flex-grow: 1;

    .wordmark {
      height: 1.5rem;
    }
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 2rem;
      width: 2rem;
      border-radius: 2rem;
      border: solid 2px var(--color-teal-20);
    }
  }
}

main header {
  flex-direction: column;
  align-items: flex-start;
  background-color: initial;

  aside {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  @media (min-width: 700px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    aside {
      text-align: right;
      p {
        margin: 0;
      }
    }
  }

  @media (min-width: 700px) and (min-height: 600px) {
    /* margin-block: 2rem; */
  }
}

section.day {
  margin-inline: 0;
  margin-block-end: 1rem;

  @media (min-width: 700px) {
    background-color: initial;
    margin-block: 1rem;
  }

  .day-header {
    background-color: var(--color-bg-primary);
    z-index: 100;
    position: sticky;
    top: 0;
    padding: 0.5rem 0.5rem 0.5rem 2.3rem;
    display: flex;
    align-items: center;
    :first-child {
      flex-grow: 1;
    }
    h2 {
      margin-block: 0.25rem;
    }
    small {
      color: var(--color-teal-40);
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}

nav.festival-list {
  flex-grow: 1;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;

  text-align: center;

  .festival-card {
    background-color: var(--color-teal-100);
    padding: 2rem;
    h3 {
      color: var(--color-mint-80);
      margin-block: 0 2rem;
      font-size: 2rem;
      font-weight: 400;
    }
    p {
      margin-block: 0;
      font-size: 1rem;
      font-weight: 400;

      &.dates {
        color: var(--color-teal-20);
      }

      &.location {
        color: var(--color-teal-40);
      }
    }
  }
}

.card {
  background: var(--card-bg);
  transition: background 0.2s ease-in-out;

  vertical-align: middle;
  text-align: center;
  font-weight: 400;

  display: flex;
  place-content: center;
  place-items: center;
  gap: 1rem;

  flex-direction: column;

  &:hover {
    cursor: pointer;
    background: var(--card-bg-alt);
  }

  &.favorite {
    background: var(--card-bg-emphasis);
    font-weight: 600;

    &:hover {
      background: var(--card-bg-emphasis-alt);
    }
  }

  .notes {
    color: var(--color-mint-60);
  }

  .b2b {
    font-style: italic;
    color: var(--color-mint-40);
  }
}

.nothing-happening {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  padding: 4em;
}

section.now {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  header {
    margin: 0;
    padding: 0;

    position: sticky;
    top: 0;
    background-color: var(--color-bg-primary);

    display: flex;
    flex-direction: row;
    align-items: baseline;
    :first-child {
      flex-grow: 1;
    }

    .muted {
      color: var(--color-teal-40);
      font-weight: 300;
    }

    aside {
      display: inline-block;
      font-size: 1.5rem;
      color: var(--color-teal-40);
      font-weight: 300;
    }
  }

  h3 {
    margin-top: 3rem;
    text-align: center;
  }

  footer {
    font-size: 1rem;

    a.button {
      padding: 0.5rem 1.5rem;
    }
  }

  .card {
    background: var(--color-teal-100);
    padding: 1rem 0.5rem;

    .set-stage {
      color: var(--color-teal-20);
      font-size: 1rem;
      font-weight: 400;
    }

    .set-performance {
      font-size: 1.5rem;
      font-weight: 00;
    }

    .set-times {
      color: var(--color-teal-20);
      font-weight: 400;

      .ending-soon {
        display: block;
      }
    }
    &:hover {
      cursor: initial;
    }

    &.favorite {
      background: var(--card-bg-emphasis);

      .set-stage,
      .set-times {
        color: var(--color-mint-40);
      }
    }
  }
}

.timeline {
  display: flex;
  flex-direction: row;

  .times {
    width: 2.3rem;
    text-align: center;

    display: grid;
    grid-auto-rows: var(--row-height);

    @media (min-width: 700px) and (max-width: 800px) {
      grid-auto-rows: calc(1.5 * var(--row-height));
    }

    div {
      grid-row-end: span 2;
      padding: 0 0.2rem;

      font-size: calc(1.3 * var(--row-height));
      font-weight: 600;
      vertical-align: middle;
      line-height: calc(2 * var(--row-height));
      color: var(--color-teal-20);
    }
  }

  .grid {
    background-color: var(--color-bg-secondary);
    flex-grow: 1;
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .stages {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;

      z-index: 20;
      display: flex;
      justify-content: center;

      @media (min-width: 700px) {
        position: relative;
        width: 100%;
      }
    }

    .stage {
      width: calc(100cqw - (10 * var(--row-height)));
      margin: 0 var(--row-height);

      scroll-behavior: smooth;
      scroll-snap-align: center;
      scroll-margin-block: var(--row-height);

      display: grid;
      grid-auto-rows: var(--row-height);

      @media (min-width: 700px) and (max-width: 800px) {
        grid-auto-rows: calc(1.5 * var(--row-height));
      }

      .gridlines {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        z-index: 10;
        display: grid;
        grid-auto-rows: var(--row-height);

        @media (min-width: 700px) and (max-width: 800px) {
          grid-auto-rows: calc(1.5 * var(--row-height));
        }

        div {
          display: flex;
          grid-column: 1;
          grid-row: auto / span 4;
          border-top: solid 1px var(--color-border-teal-60);
          &:first-child {
            border-top: none;
          }
        }
      }

      .set {
        margin: 0;
        padding: calc(0.5 * var(--row-height));
        font-size: calc(1.6 * var(--row-height));
        z-index: 50;
        grid-column: 1;

        line-height: 110%;

        gap: 0;

        flex-direction: row;

        .set-stage,
        .set-times {
          display: none;
        }

        &.adjacent {
          border-top: solid 1px var(--color-teal-40);
        }

        &.favorite {
          background: var(--card-bg-emphasis);
          font-weight: 600;
        }

        .notes {
          display: block;
        }

        .b2b {
          display: inline;
        }
      }

      h3 {
        grid-row: 1 / span 4;
        grid-column: 1;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;
        line-height: 1;

        margin: 0 0.5rem;

        color: var(--color-mint-60);
        font-weight: 400;
      }

      .current-time {
        position: absolute;
        align-items: flex-end;
        top: calc(4 * var(--row-height));
        left: 0;
        right: 0;
        height: 2px;
        background-color: var(--color-teal-100-15);

        z-index: 100;

        .current-time-line {
          position: absolute;
          bottom: 0px;
          left: 0px;
          right: 0px;
          height: 1px;
          border-bottom: dotted 1px var(--color-mint-20);
        }
      }
    }
  }
}
