main.list {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.profile {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .user {
    text-align: center;
    margin-bottom: 4rem;

    /* TODO: COLORS */
    img {
      height: 250px;
      width: 250px;
      border-radius: 250px;
      border: solid 2px var(--text-color-alt);
    }

    h2 {
      font-size: 3rem;
    }

    a {
      font-size: 1.5rem;
    }
  }
}

section {
  margin-inline: 0.5rem;
}

header {
  padding: 0 0.5rem 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  background-color: var(--color-teal-80);
  @media (min-width: 700px) {
    background-color: initial;
    margin-block: 1rem;
  }

  h1 {
    flex-grow: 1;
  }

  .logo {
    flex-grow: 1;

    .wordmark {
      height: 1.5rem;
    }
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 2rem;
      width: 2rem;
      border-radius: 2rem;
      border: solid 2px var(--color-teal-20);
    }
  }
}

main header {
  flex-direction: column;
  align-items: flex-start;
  background-color: initial;

  aside {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }

    @media (max-width: 700px) {
      display: none;
    }
  }

  @media (min-width: 700px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    aside {
      text-align: right;
      p {
        margin: 0;
      }
    }
  }

  @media (min-width: 700px) and (min-height: 600px) {
    /* margin-block: 2rem; */
  }
}

section.day {
  margin-inline: 0;

  @media (min-width: 700px) {
    background-color: initial;
    margin-block: 1rem;
  }

  h2 {
    margin-inline: 0.5rem;
  }
}

nav.festival-list {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: center;

  a {
    font-size: 3rem;
  }
}

.card {
  background: var(--card-bg);
  transition: background 0.2s ease-in-out;

  vertical-align: middle;
  text-align: center;
  font-weight: 400;

  display: flex;
  place-content: center;
  place-items: center;
  gap: 1rem;

  flex-direction: column;

  &:hover {
    cursor: pointer;
    background: var(--card-bg-alt);
  }

  &.favorite {
    background: var(--card-bg-emphasis);
    font-weight: 600;

    &:hover {
      background: var(--card-bg-emphasis-alt);
    }
  }

  .notes {
    color: var(--color-mint-60);
  }

  .b2b {
    font-style: italic;
    color: var(--color-mint-60);
  }
}

section.now {
  display: flex;
  flex-direction: column;

  gap: 0.5rem;

  .card {
    background: var(--color-teal-100);
    padding: 1rem 0.5rem;

    .set-stage {
      color: var(--color-teal-20);
      font-size: 1.2rem;
      font-weight: 600;
    }

    .set-performance {
      font-size: 2rem;
    }

    .set-times {
      color: var(--color-teal-20);
      font-weight: 300;

      .ending-soon {
        display: block;
      }
    }

    &:hover {
      background: var(--color-teal-80);
    }

    &.favorite {
      background: var(--card-bg-emphasis);

      .set-stage,
      .set-times {
        color: var(--color-mint-60);
      }

      &:hover {
        background: var(--card-bg-emphasis-alt);
      }
    }
  }
}

.timeline {
  display: flex;
  flex-direction: row;

  .times {
    --row-height: 0.5rem;

    display: grid;
    grid-auto-rows: var(--row-height);

    div {
      grid-row-end: span 2;
      padding: 0 0.2rem;

      font-size: calc(1.3 * var(--row-height));
      font-weight: 600;
      vertical-align: middle;
      line-height: calc(2 * var(--row-height));
      color: var(--color-teal-20);
    }
  }

  .grid {
    background-color: var(--color-bg-secondary);
    flex-grow: 1;
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    .stages {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;

      z-index: 20;
      display: flex;
      justify-content: center;

      @media (min-width: 700px) {
        position: relative;
        width: 100%;
      }
    }

    .stage {
      width: calc(100cqw - (10 * var(--row-height)));
      margin: 0 var(--row-height);

      scroll-behavior: smooth;
      scroll-snap-align: center;
      scroll-margin-block: var(--row-height);

      display: grid;
      grid-auto-rows: var(--row-height);

      .gridlines {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        z-index: 10;
        display: grid;
        grid-auto-rows: var(--row-height);

        div {
          display: flex;
          grid-column: 1;
          grid-row: auto / span 4;
          border-top: solid 1px var(--color-border-teal-60);
          &:first-child {
            border-top: none;
          }
        }
      }

      .set {
        margin: 0;
        padding: calc(0.5 * var(--row-height));
        font-size: calc(1.6 * var(--row-height));
        z-index: 50;
        grid-column: 1;

        line-height: 110%;

        gap: 0;

        flex-direction: row;

        .set-stage,
        .set-times {
          display: none;
        }

        &.adjacent {
          border-top: solid 1px var(--color-teal-40);
        }

        &:hover {
          cursor: pointer;
          background: var(--card-bg-alt);
        }

        &.favorite {
          background: var(--card-bg-emphasis);
          font-weight: 600;

          &:hover {
            background: var(--card-bg-emphasis-alt);
          }
        }

        .notes {
          display: block;
        }

        .b2b {
          display: block;
        }
      }

      h3 {
        grid-row: 1 / span 4;
        grid-column: 1;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;

        margin: 0 0.5rem;

        color: var(--color-mint-60);
        font-weight: 500;
      }
    }
  }
}
