main.list {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.profile {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .user {
    text-align: center;
    margin-bottom: 4rem;

    img {
      height: 250px;
      width: 250px;
      border-radius: 250px;
      border: solid 2px var(--text-color-alt);
    }

    h2 {
      font-size: 3rem;
    }

    a {
      font-size: 1.5rem;
    }
  }
}

section {
  margin-inline: 0.5rem;
}

header {
  margin-inline: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  background-color: #144A52;

  h1 {
    flex-grow: 1;
  }

  .user {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 2rem;
      width: 2rem;
      border-radius: 2rem;
      border: solid 2px var(--brand-color);
    }
  }
}

main header {
  flex-direction: column;
  align-items: flex-start;

  aside {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    p {
      margin: 0;
    }
  }

  @media (min-width: 700px) {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    aside {
      text-align: right;
      p {
        margin: 0;
      }
    }
  }

  @media (min-width: 700px) and (min-height: 600px) {
    margin-block: 2rem;
  }
}

section.day {
  margin-inline: 0;

  h2 {
    margin-inline: 0.5rem;
  }
}

nav.festival-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    font-size: 3rem;
  }
}

.timeline {
  display: flex;
  flex-direction: row;

  .times {
    --row-height: 0.5rem;
    --text-color-alt: hsl(0, 0%, 60%);

    display: grid;
    grid-auto-rows: var(--row-height);

    div {
      grid-row-end: span 2;
      padding: 0 0;

      font-size: calc(1.3 * var(--row-height));
      font-weight: 600;
      vertical-align: middle;
      line-height: calc(2 * var(--row-height));
      color: var(--text-color-alt);
    }
  }

  .grid {
    background-color: var(--bg-color-alt);
    flex-grow: 1;
    display: flex;
    position: relative;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    //background-color: var(--bg-color-alt);

    .stages {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;

      z-index: 20;
      display: flex;
      justify-content: center;

      @media (min-width: 700px) {
        position: relative;
        width: 100%;
      }
    }

    .stage {
      width: calc(100cqw - (10 * var(--row-height)));
      margin: 0 var(--row-height);

      scroll-behavior: smooth;
      scroll-snap-align: center;
      scroll-margin-block: var(--row-height);

      display: grid;
      grid-auto-rows: var(--row-height);

      .gridlines {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        z-index: 10;
        display: grid;
        grid-auto-rows: var(--row-height);

        div {
          display: flex;
          grid-column: 1;
          grid-row: auto / span 4;
          border-top: solid 1px hsl(0, 0%, 40%);
          &:first-child {
            border-top: none;
          }
        }
      }

      .set {
        margin: 0;
        padding: calc(0.5 * var(--row-height));
        font-size: calc(1.6 * var(--row-height));
        z-index: 50;
        grid-column: 1;
        background-color: var(--brand-bg-color);
        transition: background-color 0.2s ease-in-out;

        vertical-align: middle;
        text-align: center;

        display: flex;
        place-content: center;
        place-items: center;
        line-height: 110%;

        &:hover {
          cursor: pointer;
          background-color: var(--brand-bg-color-alt);
        }

        &.adjacent {
          border-top: solid 1px var(--brand-color-lighter);
        }

        &.favorite {
          background-color: var(--brand-color);
          font-weight: 700;
        }

        .notes {
          display: block;
          color: var(--brand-color-lighter);
        }

        .b2b {
          font-style: italic;
          color: var(--brand-color-lighter);
          display: block;
        }
      }

      h3 {
        grid-row: 1 / span 4;
        grid-column: 1;
        margin: 0;
        padding: 0;
        text-align: center;
        display: block;

        margin: 0 0.5rem;
      }
    }
  }
}
